<div data-controller="map" data-map-readonly-value="true">
  <div id="<%= dom_id place %>">
    <p>
      <strong>Name:</strong>
      <%= place.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= place.address %>
    </p>

  </div>
</div>
